# Virtual Environment
venv/
env/
ENV/

# Django
*.pyc
__pycache__/
db.sqlite3
media_cdn/
static_root/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db